/*for FJU 特殊造字*/ 
@font-face {
    font-family: 'eudc';
    src: url('../fonts/eudc.eot');
    src: url('../fonts/eudc.eot') format('embedded-opentype'),
         url('../fonts/eudc.woff2') format('woff2'),
         url('../fonts/eudc.woff') format('woff'),
         url('../fonts/eudc.ttf') format('truetype'),
         url('../fonts/eudc.svg#eudc') format('svg');
}
.eudcFont {
    font-family: 'eudc';
}